body{
    margin: 0px;
    padding: 0px;
}
h1{
    height: 50px;
    text-align: center;
    font-family: 'Righteous', cursive;
}
.navbar {
    text-align: center;
    margin-top: 30px;
    }

.navbar a {
    border: 2px solid black;
    float: right;
    color: blue;
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
  }

  a:link{
    color: rgb(185, 19, 19);
}

  a:visited{
      color: greenyellow;
  }

  a:hover{
      color: blue;
  }

  a:active{
      color: darkred;
  }

#psudo{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;

}
.demo p:nth-child(2n){
    background-color: brown;
    color: cornsilk;

}
.demo p::first-letter{
    color: darkblue;
    font-size: 35px;
    }
.demo p::selection{
    color: darkred;
    background-color: dimgray;
}

#list{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;
    
}
ul li {
    list-style-type: square;
   
    
}
.li{
    float: left;
    text-decoration: orange;
    padding: 20px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(6, 129, 129);
    margin: 20px;
    font-size: 30px;
}
ul{
   margin-left: 300px;
   padding: 0;}

li:nth-child(2n+1){
    color: tomato;
}

#overflow{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;
    
}
#property_hidden{
    height: 200px;
    width: 200px;
    background-color: cornsilk;
    margin: 20px;
    border: 3px solid black;
    overflow: hidden;
}

#property_scroll{
    height: 200px;
    width: 200px;
    background-color: cornsilk;
    margin: 20px;
    border: 3px solid black;
    overflow: scroll;
}

#property_hidden, #property_scroll{
    float: left;}

#position{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;
    
}
.first, .second, .third{
    height: 100px;
    width: 100px;
    margin: 20px;
}
.first{
    background-color: brown;
}
.second{
    background-color: blue;
    position: relative;
    left: 200px;
}
.third{
    background-color:green;
}

#focus{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;
    
}
.contain{
    height: 400px;
    width: 400px;
    margin: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;

}
.contain h2{
    position: relative;
    color: maroon;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    z-index: 2;
    transition: 5s;
}
.contain h2:hover{
    filter: blur(10px);
    transform: scale(1.5);
}
.contain img{
    height: 300px;
    width: 300px;
    position: absolute;
    transition: 5s;
    filter: blur(20px);
}
.contain h2:hover ~img{
    height: 300px;
    width: 300px;
    transition: 5s;
    filter: blur(0px);


}

#svg{
    height: 500px;
    width: initial;
    margin: 10px;
    border: 2px solid black;
    
}

